* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;

}

header {
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.btn-primary {
    height: 64px;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;

}

/* Nav style */
nav {
    display: flex;

    justify-content: space-between;
    margin-left: 226px;
    padding-top: 51px;
    margin-right: 230px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Bnner style */
.banner {
    display: flex;
    margin: 0 226px;

}

.banner-head {
    margin-top: 135px;
}

/* img{
    margin-top: 47px;
} */
#btn-contact {
    background-color: white;
    margin-left: 30px;
    border: 2px solid #FD6E0A;
    background-color: #FFF8F3;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
.main-section-width{
    width: 1140px;
    margin: auto;
    margin-top: 130px;

}

.about-section {
    padding: 131px 156px;
    /* border: 2px solid #FD6E0A ; */
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;


}

.section-title {

    /* margin-top: 130px; */
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    /* padding:  150px; */
    color: #757575;

}

/* About info conainer Style */

.abouto-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    margin-right: 50px;
    margin-bottom: 131px;

}

.about-info-title {
    color: #757575;
    font-weight: 400;
    font-size: 20px;
}

.about-info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do */
.what-i-do {
    /* text-align: center; */
}

.what-i-do-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.what-i-do-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin: 30px 180px 50px;
    /* width: 909px; */
}

/* Skills container  */
.skills-container {
    display: flex;
    gap: 24px;
}

.skill>img {
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 30px;
}

.skill {
    padding: 104px 30px 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill-title {
    color: #181818;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 30px;

}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin: 30px;
}

/* Resume content  */
.resume-content {
    display: flex;
    gap: 24px;
}

.resume-title {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 113px;
    color: #181818;
    font-weight: 700;
    font-size: 35px;
}

.experience-title,
.education-title {
    color: #474747;
    font-weight: 700;
    font-size: 30px;
}

.content-description {}

.r-title {
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.r-sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
}

.r-description {
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    /* border-bottom: 1px solid #D1D1D1; */
}

hr {
    border-bottom: 1px solid #D1D1D1;
}

#cv-download {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 113px;
}

/* Contact section  */
.contact {
    padding-left: 230px;
    padding-top: 138px;
    display: flex;
    gap: 117px;
    background: #FFF8F3;
}

.contact-title {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
}

.contact-description {
    width: 562px;
    color: #474747;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact-form {
    display: inline-block;
}

.icon {
    margin-right: 24px;
}

.name,
.email {
    margin-bottom: 24px;
    width: 461px;
    height: 64px;
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
}

.messege {
    width: 461px;
    height: 180px;
    margin-bottom: 24px;
    border: none;
    padding-top: 18px;
    /* padding-bottom: 18px; */
    padding-left: 30px;
}

.name {
    margin-top: 24px;
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
}
.btn-contact{
    margin-bottom: 122px;
}